html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: #f8f8f8;
}

*, *:before, *:after {
    box-sizing: inherit;
}



.background-top {
    height: 100px;
    width: 100%;
}

.container-my-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -80px;
}

.fullname {
    font-size: 30px;
    font-weight: bolder;
    margin: 0px;
    margin-top: 10px
}

.username {
    font-weight: bold;
    font-size: 18px;
    margin: 0px;
    margin-bottom: 10px;
}

.pic-profile {
    /* margin-top: 50px; */
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 6px;
}

.section {
    display: flex;
    flex-direction: column;
    margin: 30px
}

.title-section {
    font-weight: bold;
    font-size: 18px;
    background-color: #f8f8f8;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 450px;
    height: 70px;
    border-style: solid;
    border-color: #dcdcdc;
    border-width: 1px;
}

.item_array {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 450px;
    height: 300px;
    border-style: solid;
    border-color: #dcdcdc;
    border-width: 1px;

}

.text {
    font-weight: bold;
    margin-left: 20px;
    width: 200px;
}

.value {
    margin-left: 20px;
    width: 200px;
}

.div_array {
    margin-left: 20px;
    align-items: center;
    line-height: 60px;
    width: 200px;
}


.page-distribution {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}